In [15]:
import pandas as pd
import numpy as np

Data = {'Age': {0: '<=30',
  1: '<=30',
  2: '31-40',
  3: '>40',
  4: '>40',
  5: '>40',
  6: '31-40',
  7: '<=30',
  8: '<=30',
  9: '>40',
  10: '<=30',
  11: '31-40',
  12: '31-40',
  13: '>40'},
 'Income': {0: 'high',
  1: 'high',
  2: 'high',
  3: 'medium',
  4: 'low',
  5: 'low',
  6: 'low',
  7: 'medium',
  8: 'low',
  9: 'medium',
  10: 'medium',
  11: 'medium',
  12: 'high',
  13: 'medium'},
 'Student': {0: 'no',
  1: 'no',
  2: 'no',
  3: 'no',
  4: 'yes',
  5: 'yes',
  6: 'yes',
  7: 'no',
  8: 'yes',
  9: 'yes',
  10: 'yes',
  11: 'no',
  12: 'yes',
  13: 'no'},
 'Credit_Rating': {0: 'fair',
  1: 'excellent',
  2: 'fair',
  3: 'fair',
  4: 'fair',
  5: 'excellent',
  6: 'excellent',
  7: 'fair',
  8: 'fair',
  9: 'fair',
  10: 'excellent',
  11: 'excellent',
  12: 'fair',
  13: 'excellent'},
 'Buys_Computer': {0: 'no',
  1: 'no',
  2: 'yes',
  3: 'yes',
  4: 'yes',
  5: 'no',
  6: 'yes',
  7: 'no',
  8: 'yes',
  9: 'yes',
  10: 'yes',
  11: 'yes',
  12: 'yes',
  13: 'no'}}

In [16]:
df = pd.DataFrame.from_dict(Data)

In [17]:
df

      Age  Income Student Credit_Rating Buys_Computer
0    <=30    high      no          fair            no
1    <=30    high      no     excellent            no
2   31-40    high      no          fair           yes
3     >40  medium      no          fair           yes
4     >40     low     yes          fair           yes
5     >40     low     yes     excellent            no
6   31-40     low     yes     excellent           yes
7    <=30  medium      no          fair            no
8    <=30     low     yes          fair           yes
9     >40  medium     yes          fair           yes
10   <=30  medium     yes     excellent           yes
11  31-40  medium      no     excellent           yes
12  31-40    high     yes          fair           yes
13    >40  medium      no     excellent            no

In [18]:
#compute the prior
count = df.groupby('Buys_Computer').size()
print(count)
prior = count.div(len(df))

print ("\nPrior : ",prior)

Buys_Computer
no     5
yes    9
dtype: int64

Prior :  Buys_Computer
no     0.357143
yes    0.642857
dtype: float64

In [19]:
# compute the likelihood
likelihood = {}
likelihood['Credit_Rating'] = df.groupby(['Buys_Computer', 'Credit_Rating']).size().div(count)
likelihood['Age'] = df.groupby(['Buys_Computer', 'Age']).size().div(count)
likelihood['Income'] = df.groupby(['Buys_Computer', 'Income']).size().div(count)
likelihood['Student'] = df.groupby(['Buys_Computer', 'Student']).size().div(count)

likelihood

{'Credit_Rating': Buys_Computer  Credit_Rating
 no             excellent        0.600000
                fair             0.400000
 yes            excellent        0.333333
                fair             0.666667
 dtype: float64,
 'Age': Buys_Computer  Age
 no             <=30     0.600000
                >40      0.400000
 yes            31-40    0.444444
                <=30     0.222222
                >40      0.333333
 dtype: float64,
 'Income': Buys_Computer  Income
 no             high      0.400000
                low       0.200000
                medium    0.400000
 yes            high      0.222222
                low       0.333333
                medium    0.444444
 dtype: float64,
 'Student': Buys_Computer  Student
 no             no         0.800000
                yes        0.200000
 yes            no         0.333333
                yes        0.666667
 dtype: float64}

In [20]:
Instance = {"Age":'<=30', "Income":"medium", "Student":'yes' , "Credit_Rating":'fair'}

In [21]:
# Compute the posterior

# Probability that the person will buy
p_yes = likelihood['Age']['yes']['<=30'] * likelihood['Income']['yes']['medium'] * \
        likelihood['Student']['yes']['yes'] * likelihood['Credit_Rating']['yes']['fair'] \
        * prior['yes']

# Probability that the person will NOT buy
p_no = likelihood['Age']['no']['<=30'] * likelihood['Income']['no']['medium'] * \
       likelihood['Student']['no']['yes'] * likelihood['Credit_Rating']['no']['fair'] \
       * prior['no']

print ('No :  ', p_no)
print ('Yes : ', p_yes)

No :   0.006857142857142858
Yes :  0.028218694885361547